
/* #listcomponent{
    transition: all .4s ease ;
}
#listcomponent:hover{
    background-color: #dbdbdbdb;
} */
/* #E6E6E6 */


/* Chatbox css */

#ChatboxMainContainer{
    background-image: url("https://static.whatsapp.net/rsrc.php/v3/yl/r/gi_DckOUM5a.png");
    background-position-x: center;
    background-position-y:center;
    background-size: cover;
    background-repeat: no-repeat;
  
}


/* FileReview component css*/

/* Add this CSS in your component's CSS file or in a style block */
