#listcomponent{
    background-color: #9f9f9f36;
}
#listcomponent:hover{
    background-color: #ccccccbe;
}
/* #E6E6E6 */


/* Chatbox css */

#ChatboxMainContainer{
    background-image: url("/images/chatbg.jpg");
    background-position-x: center;
    background-position-y:center;
    background-size: cover;
    background-repeat: no-repeat;
  
}
